<footer>
  <div class="row">
    <div class="columns large-6 medium-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolores facere ut labore quas, natus, quo rerum cumque perspiciatis suscipit adipisci! Voluptates aspernatur ipsam dolorem molestiae numquam reiciendis sit ad.
      </p>
    </div>
    <div class="columns large-6 medium-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae doloremque laboriosam ipsa dignissimos, eligendi adipisci facere rerum, nam veritatis, minima labore, sequi obcaecati dolore alias similique odit eveniet inventore voluptatibus.
      </p>
    </div>
  </div>
</footer>
