<div class="intro animated fadeInDown">
  <h2>Ignacio Diez</h2>
  <p class="animated fadeInDown">Intermediate <strong>Web developer</strong></p>
  <p>This is my personal website. If you have a web project in mind, need some advice or just generally want to talk web, feel free to</p>
  <a class="emailme" target="_blank" href="mailto:ig.diez10@gmail.com" title="Drop me a line!">contact me</a>
</div>