<header>
  <div class="contain-to-grid sticky"></div>
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul>
        <li><a href="#home" class="home" title="Home">Home</a></li>
        <li><a href="#about" class="about" title="About me">About me</a></li>
        <li><a href="#stuff" class="personal" title="Personal">Personal</a></li>
        <li><a href="#contact" class="contact" title="Contact Me">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
