<div class="info">
  <div class="container">

    <div class="name">
      <%= @name.downcase %>
    </div>

    <div class="profile-picture">
      <img src="/assets/i10.png" alt="i10">
    </div>

    <div class="content">
      Hey!, I'm a Front-Back End Web Developer. I live in Santiago, Chile and i'm working at
      <br>
      <%= link_to('ComparaOnline.com', 'http://www.comparaonline.com')  %>.
      <br>
      By now, i'm developing in Ruby On Rails and it ROCKS!.
      <br><br>
      <span class="note">This site is under construction, if you want to contact me click in a network below and send me a message.</span>
    </div>

    <div class="social">
      <% @social.each do |network, url| %>
        <%= link_to('', url, {target: '_blank', title: network.titleize, class: network }) %>
      <% end %>
    </div>

  </div>
</div>