<section class='main'>

</section>

<section class='info'>
  <div class="row">
    <div class="columns large-6 medium-6">
      <%= render partial: 'about' %>
    </div>
    <div class="columns large-6 medium-6">
      <%= render partial: 'experience' %>
    </div>
  </div>
</section>

<section class='projects'></section>

<section class='phrase'>
  <div class="row">
    <div class="columns large-12">
      <p>
        "Phrase or Quote !!!"
      </p>
    </div>
  </div>
</section>
