@import 'mixins';
@import 'keyframes';
@include font-face("HelveticaNM", font-files("HelveticaNeue-Medium.otf"));
@include font-face("ionicons", font-files("ioicons/ionicons.ttf", "ioicons/ionicons.eot", "ioicons/ionicons.woff", "ioicons/ionicons.svg"), '400', 'normal');

body{
  font-family: 'HelveticaNM';
  text-align: center;
  margin: 0;
  height: 100%;
  background: url(bg.jpg);
  background-attachment: fixed;
  background-color: transparent;
  background-size: cover;
  background-position-y: 70%;
  background-repeat: no-repeat;
  overflow: auto;
}

main{
  width: 40%;
  height: 100%;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.35);
  left: 0;
  header{
    height: 30%;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-variant: small-caps;
    text-rendering: optimizeLegibility;
    text-shadow: rgb(0, 0, 0) 3px 2px;
    div{
      @include vertical-align;
    }
  }
  figure{
    img{
      @include border-radius(90px);
    }
  }
  section{
    height: 50%;
    border-top: 1px #CCC dashed;
    border-bottom: 1px #CCC dashed;
    #content{
      padding: 10px 65px 10px 65px;
      line-height: 30px;
      text-align: center;
      font-size: 17px;
      color: #CCC;
      text-shadow: black 2px 2px;
      margin: 10px 0 10px 0;
      white-space: normal;
      vertical-align: middle;
      @include vertical-align;
      a{
        color: rgb(132, 190, 214);
        text-decoration: none;
      }
      .note{
        font-size: 15px;
        font-style: italic;
        color: #EBEDEB;
      }
    }

  }
  footer{
    height: 15%;
    font-family: ionicons;
    #social{
      @include vertical-align;
      a{
        width: 80px;
        color: #CCC;
        font-size: 40px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
        @include network('facebook', "\f230", #4c66a4);
        @include network('twitter', "\f242", #55acee);
        @include network('linkedin', "\f238", #069);
        @include network('github', "\f233", #4183c4);
        @include network('mail', "\f186", #6D803C);
        @include transition-property(color);
        @include transition-duration(1.2s);
      }

    }
  }
}

@media screen and (max-width: 1090px) {
  main{
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  // NO BG COVER
}


