@import 'mixins';
@import 'keyframes';
@include font-face("HelveticaNM", font-files("HelveticaNeue-Medium.otf"));
@include font-face("ionicons", font-files("ioicons/ionicons.ttf", "ioicons/ionicons.eot", "ioicons/ionicons.woff", "ioicons/ionicons.svg"), '400', 'normal');

html#home_v2 {
  height: 100%;
  header {
    nav {
      background: rgba(47,47,47,0.71);
      color: #333;
      position: fixed;
      top: 0;
      width: 100%;
      right: 0;
      z-index: 1000;
      cursor: pointer;
      overflow: hidden;
      height: 60px;
      @include transform(translate(0,0));
      @include transition(all, 1s, cubic-bezier(1, .12, .37, .82));
      @include transition(transform, .4s, height .3s, background .4s);
      @include animation(firstFadeInAndDrop, .5s);
      ul {
        float: none;
        clear: none;
        margin: 0 auto;
        padding: 1em 0;
        text-align: right;
        width: 80%;
        li {
          display: inline-block;
          width: auto;
          clear: none;
          margin: 0 1.6em 0 0;
          a {
            font-size: .71em;
            font-weight: 300;
            color: #DBDBDB;
            text-decoration: none;
            @include transition-property(color);
            @include transition-duration(1.2s);
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }

  section {
    clear: both;
    float: left;
    width: 100%;
    position: relative;
  }

  .main {
    text-align: center;
    margin: 0% 0 0 0;
    height: 100%;
    background: url(backgrounds/cloudy-resized2.jpg);
    background-attachment: fixed;
    background-color: transparent;
    background-size: cover;
    background-position: center -100px;
    background-repeat: no-repeat;
  }

  .info {
    border-bottom: 1px solid rgba(65, 67, 70, 0.3);
    background: linear-gradient(#FCFCFC,#E9E9E9) no-repeat 100% 0;
    background-size: 50% 100%;
    h2 {
      line-height: 80px;
      border-bottom: 1px lightgray solid;
    }
  }

  .phrase {
    clear: none;
    float: left;
    height: 10em;
    width: 100%;
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

}
