<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <h1><strong>[ig10.org]</strong> <%= yield(:title) %> </h1>
      <p>This is an Automatic mail sent from ig10.org</p>
      <br>
      <div style="padding:20px; text-align: left;">
        <%= yield %>
      </div>
    </div>
  </body>
</html>


