<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ig10 - IEC</title>
    <%= stylesheet_link_tag "scrapper" %>
    <%= javascript_include_tag "application" %>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////ANPK/ACAY/8Ae17/AC0A9wCfiv8ALgD/AC8A/wClkf8A6ub/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABXkRERERGVUFeRERYREZVQV5ERFhERlVBVkRiIiBGVUFeRaIiIYZVQV5o4SEg6lVBVmkaIhkqVUFWREUhBEZVQVZERmJERlVBVkRESERGVUFeREREREZVQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAD//wAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
